{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 100,
	"svelteAllowShorthand": true,
	"trailingComma": "all",
	"htmlWhitespaceSensitivity": "strict",
	"svelteBracketNewLine": false,
	"tailwindAttributes": ["className"],
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
