@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Regular.woff2") format("woff2"),
		url("/fonts/GeistMono-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Medium.woff2") format("woff2"),
		url("/fonts/GeistMono-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-SemiBold.woff2") format("woff2"),
		url("/fonts/GeistMono-SemiBold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Bold.woff2") format("woff2"),
		url("/fonts/GeistMono-Bold.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Light.woff2") format("woff2"),
		url("/fonts/GeistMono-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Thin.woff2") format("woff2"),
		url("/fonts/GeistMono-Thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-UltraLight.woff2") format("woff2"),
		url("/fonts/GeistMono-UltraLight.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-Black.woff2") format("woff2"),
		url("/fonts/GeistMono-Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "GeistMono";
	src:
		url("/fonts/GeistMono-UltraBlack.woff2") format("woff2"),
		url("/fonts/GeistMono-UltraBlack.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
}
