name: CI

on:
  pull_request:
      branches:
          - main

jobs:
    CI:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "18"

            - name: Install dependencies
              run: npm install

            - name: Format
              run: npm run format

            - name: Lint
              run: npm run lint
            
            - name: Package
              run: npm run package

            - name: Build
              run: npm run build

            - name: Publish Dry Run
              run: npm publish --dry-run
